{{template "base" .}}

{{define "content" }}
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col">
                <h1 class="text-primary">🧪 Test Microservices</h1>
                <hr>
                <a id="brokerBtn" class="btn btn-outline-secondary" href="javascript:void(0)">Test Broker</a>

                <div id="output" class="bg-light p-4 rounded shadow-sm">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-md-6">
                <h4 class="text-success">📤 Sent</h4>
                <div class="bg-white border p-4 rounded shadow-sm">
                    <pre id="payload" class="mb-0"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="text-info">📥 Received</h4>
                <div class="bg-white border p-4 rounded shadow-sm">
                    <pre id="received" class="mb-0"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let brokerBtn = document.getElementById("brokerBtn");
        let output = document.getElementById("output");
        let payload = document.getElementById("payload");
        let received = document.getElementById("received");

        brokerBtn.addEventListener("click", function() {
            const request = {
                method: 'POST'
            }

            fetch("http:\/\/localhost:8080", request)
                .then((response) => response.json())
                .then((data) => {
                    payload.innerHTML = "empty post request";
                    received.innerHTML = JSON.stringify(data, undefined, 4);

                    if (data.error) {
                        console.log(data.message);
                    } else {
                        output.innerHTML += `<br><strong>Response from broker service</strong>: ${data.message}`;
                    }
                })
                .catch((error) => {
                    output.innerHTML += "<br><br>Error: " + error;
                })
        })

    </script>
{{end}}
